<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Selenium Suite" verbose="1">
    <test name="Smoke Tests">
        <classes>
            <class name="org.example.LaunchBrowser2"/>
            <class name="org.example.LaunchBrowser"/>
        </classes>
    </test>
</suite>
